/*id selector*/
#idselect{
    color: blue;
}
#idselect2{
    height: auto;
}
h1{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 20px;
}
h2{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #2590c8;
}

p{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color:black;
    font-size: 16px;
}

div{
    margin: auto;
    text-align: center;
    vertical-align: middle;
}


html,
body {
    background-color: #F3FAF9;
    height: 100%;
}

.pure-u-1-3 {
    margin-top: 50px;
    height: 50vw;
}


.center {
    line-height: 100px;
    height: 700px;
    text-align: center;
    vertical-align: top;
    
}
 
.center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: top;
    
}

.container{
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #f90;
}

.footer{
    height: 50px;
    position: bottom;
  
    }